<section>
    <h3> {{id}} </h3>
    <h3> {{car_make}} </h3>
    <h3> {{car_model}} </h3>
    <h3> {{car_year}} </h3>
    <h3> {{car_color}} </h3>
    <h3> {{car_milage}} </h3>
    <h3> {{car_price}} </h3>
</section>