<div class="card" style="width: 18rem;">
    {{!-- <img src="" class="card-img-top" alt=".IMG GOES HERE.." /> --}}
    <div class="card-body">
        <p class="card-text">ID:{{id}}</p>
        <p class="card-text">Make:{{car_make}}</p>
        <p class="card-text">Model:{{car_model}}</p>
        <p class="card-text">Year:{{car_year}}</p>
        <a href="/api/cars/{{id}}" id="view_car" class="cloudinary-button">View Car</a>
            <button id="deletebutton{{id}}" class="cloudinary-button">Delete this Car</button>
            <a href="/api/cars/update/{{id}}" id="updatebutton" class="cloudinary-button">Update your Car</a>
<script>

    const deleteCar{{id}} = async () => {

        console.log({{ id }})

    let response = await fetch("/api/cars/" + {{ id }}, {
        method: "DELETE"
    })

    if (response.ok) {
        document.location.replace("/dashboard/myCars")
    }
    
          }


    document.querySelector(`#deletebutton{{id}}`).addEventListener("click", deleteCar{{id}});
</script>

    </div>
</div>
