<p class="card-text">ID:{{singleCar.id}}</p>
    <p class="card-text">Make:{{singleCar.car_make}}</p>
    <p class="card-text">Model:{{singleCar.car_model}}</p>
    <p class="card-text">Year:{{singleCar.car_year}}</p>
    <p class="card-text">Color:{{singleCar.car_color}}</p>
    <p class="card-text">Milage:{{singleCar.car_milage}}</p>
    <p class="card-text">${{singleCar.car_price}}</p>
    {{#if new_used}}
    <p class="card=text">NEW</p>
    {{else}}
    <p>USED</p>
    {{/if}}
    <button id="deletebutton" class="cloudinary-button">Delete this Car</button>
    <button id="updatebutton" class="cloudinary-button">Update your Car</button>
  </div>


  <script>

    const deleteCar = async () => {

      console.log({{singelCar.id}})

const response = await fetch("/api/cars/" + {{singleCar.id}}, {
          method: "DELETE"
        })

        if (response.ok) {
          document.location.replace("/dashboard")
        }

      }
      
      document.querySelector("#deletebutton").addEventListener("click", deleteCar);
  </script>

