<p class="card-text">ID:{{id}}</p>
    <p class="card-text">Make:{{car_make}}</p>
    <p class="card-text">Model:{{car_model}}</p>
    <p class="card-text">Year:{{car_year}}</p>
    <p class="card-text">Color:{{car_color}}</p>
    <p class="card-text">Milage:{{car_milage}}</p>
    <p class="card-text">${{car_price}}</p>
  </div>

